body {
  background-image: url(imgs/OBX.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  min-height: 100vh; /* Vertical height   */
  min-width: 600px;
}

.background-container {
  position: center;
  width: 600px;
  height: 800px;
  background-image: url(imgs/Letter.png);
  background-size: cover;
  background-position: center;
  overflow: hidden;
  margin: 20px auto;
}

.background-container #container {
  padding: 200px 50px 0px 50px;
font-family: "relation-one", sans-serif;
font-weight: 400;
font-style: normal;
}
.background-container p {
font-family: "relation-one", sans-serif;
font-weight: 400;
font-style: normal;
font-size: 20px;
}

/* .foreground-image {
  position: absolute;
  top: 100%;
  left: 100%;
  width: 400px;
  height: auto;
} */
