body {
  background-image: url(imgs/OBX.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  min-height: 100vh; /* Vertical height   */
  min-width: 600px;
}

.background-container {
  position: center;
  width: 600px;
  height: 800px;
  background-image: url(imgs/Letter.png);
  background-size: cover;
  background-position: center;
  overflow: hidden;
  margin: 20px auto;
}

.background-container #container {
  padding: 200px 50px 0px 50px;
font-family: "relation-one", sans-serif;
font-weight: 400;
font-style: normal;
}
.background-container p {
font-family: "relation-one", sans-serif;
font-weight: 400;
font-style: normal;
font-size: 20px;
}

 /* Responsive design */
 @media (max-width: 768px) {
  .background-container {
    height: 150vh; /* Adjust height on smaller screens */
    padding: 15px;
  }
  .background-container #container {
    padding: 10px;
  }
  .background-container p {
    font-size: 1rem; /* Smaller font size for mobile */
    padding-top: 120px;
    margin: 30px;
  }
}
h1{ 
font-family: "liebegerda", sans-serif;
font-weight: 700;
font-style: italic;
text-shadow: 1px 1px 2px rgb(255, 255, 255), 0 0 1em rgb(246, 223, 134), 0 0 0.2em rgb(245, 184, 141);
}

/* .foreground-image {
  position: absolute;
  top: 100%;
  left: 100%;
  width: 400px;
  height: auto;
} */
